
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySalesPersonLabel" data-translate="assignment2App.salesPerson.home.createOrEditLabel">Create or edit a Sales Person</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.salesPerson.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.salesPerson.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assignment2App.salesPerson.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.salesPerson.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="assignment2App.salesPerson.cust_id" for="field_cust_id">Cust Id</label>
            <input type="number" class="form-control" name="cust_id" id="field_cust_id"
                    ng-model="vm.salesPerson.cust_id"
                     />
        </div>

        <div class="form-group">
            <label data-translate="assignment2App.salesPerson.salesToCar" for="field_salesToCar">Sales To Car</label>
            <select class="form-control" id="field_salesToCar" name="salesToCar" ng-model="vm.salesPerson.salesToCar" ng-options="car as car.id for car in vm.cars track by car.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
